
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div class="home-burger">
<h1>Hungry for Cheeseburgers?</h1>
<div class="box-one">
<img class="burger-outline" alt="Cheeseburger-outline">
</div>
<form method="POST" action="places" class="search">
	<div class="form-group">
    <input type="text" name="title" value="search">
	<button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<div class="box-two">
	<p>
	Cheeseburger lovers rejoice! Here is a place where you savor and save all of the data you've gathered regarding Restaurants serving the best cheeseburgers that google has to offer! 
	<br> 
	Click below to see Cheeseburgers in Seattle, WA.
	</p>
</div>
</div>

<script src="/js/searchreq.js"></script>
</body>
</html>