<div class="home-burger">
<h1>Hungry for Cheeseburgers?</h1>
<div class="box-one">
<img class="burger-outline" alt="Cheeseburger-outline">
</div>
<form method="POST" action="places" class="search">
	<div class="form-group">
    <input type="text" name="title" value="Cheeseburger">
	<button class="btn btn-primary" type="submit">Search</button>
</div>
</form>
<div class="box-two">
	Click search for a Yelp listing of Seattle Cheeseburger Restaurants or sign up to save personal comments of your best and worst burgers. 
	</p>
</div>
</div>