<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Search for Cheeseburgers</h1> 
<form action="/places" method="POST">
<input id="pac-input" class="controls" type="text" placeholder="Search for Cheeseburgers">
 <div class="form-group">
  <input type="submit" class="btn btn-primary">
</form>
  <div class="col-md-6">
    <h2>Map</h2>
    <div id="map"></div>
  </div>



<!-- scripts -->


<script src="/js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-8w-7Gz2BAoziMBckgFiBFhBOQcnngWg&libraries=places&callback=initMap" async defer></script>

</body>
</html>