<!DOCTYPE html>
<html>
<head>
	<script src="//code.jquery.com/jquery.js"></script>
</head>
<body>
<div class="places-search">
	<h1>Search for Cheeseburgers</h1> 

<% if (businesses) { %>
	<% for (var item of businesses) { %>
		<div class="col"><h2>Restaurant Name:<%= item.name %></h2></div>

	<% }; %>
 <% }; %>






<script src="/js/searchreq.js"></script>
<script src="/js/script.js"></script>
</body>
</html>