<body>
<h2>THIS IS YOUR CHEESEBURGER PROFILE</h2>

<div class="profile">
	<h3>Here are your saved favorites</h3>



<a href="/places" class="btn btn-danger delete-link">Delete Post</a>
</div>


</body>


