body {
  background: #3D3D3D;
  font-family: 'Joti One', cursive;
  color: white;
  text-align:center;
}

.search {
	color: black;
}

.button-create {
  margin-top: 25px;
}

.images {
 height: 500px;
 width: 500px;
}
 
.box-one {
  margin: 50px 0px;
}

.burger-outline {
    content: url("burger-outline-filled.png");
}

.box-two { 
  margin: 50px 200px;
  font-size: 25px;
}

